.bottom {
  border: 1px solid black;
  width: 40%;
  height: 4vh;
}
.bottom div {
  display: flex;
  justify-content: center;
  padding: 5px;

  /* align-items: center; */
}
.bottom-links :nth-child(2):before {
  content: "";

  left: 6rem;
  width: 0px;
  height: 2rem;
  border: black 1px solid;
}
