.bottom {
  border: 1px solid black;
  width: 40%;
  height: 4vh;
}
.bottom-links {
  display: flex;
  justify-content: center;
  /* padding: 5px;
  width: 100%;
  margin-left: 2rem; */

  /* align-items: center; */
}
/* .bottom-links :nth-child(2):before {
  content: "";

  left: 8rem;
  width: 0px;
  height: 2rem;
  border: black 1px solid;
} */
.bottom-links a {
  /* border: brown 1px solid; */
}
.bottom-links :nth-child(1) {
  margin-right: 10px;
  width: 17%;
}
.bottom-links :nth-child(3) {
  width: 12%;
}
.line2 {
  width: 1px;
  height: 2vh;
  background-color: gray;
  position: absolute;
  left: 48.8%;
}
