.form {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form div p {
  font-size: 24px;
  font-weight: bold;
  border: greenyellow 1px solid;
}
.inputs {
  /* border: blue 2px solid; */
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputs :nth-child(2) {
  border: 2px solid red;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-bottom: gray 1px solid;
}

.inputs :nth-child(4) {
  border: 2px solid red;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-bottom: gray 1px solid;
}
