@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
@import url(./logos.css);
@import url(./divider.css);
@import url(./form.css);
@import url(./bottom.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url(https://fontawesome.com/v5.15/icons?d=gallery&p=2);
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Luxurious Roman", cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 60%;
  height: 60%;
}
/* @media only screen and (min-width: 390px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    width: 40%;
    height: 40%;
  }
} */
