@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url(https://fontawesome.com/v5.15/icons?d=gallery&p=2);
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Luxurious Roman", cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  border: 2px solid black;
  width: 80%;
  height: 50%;
  flex-direction: column;
}
.links {
  border: 1px solid black;
}
